<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <!-- Header -->
    <div class="header">
      <p>
        According to physics,<br>
        gains cannot be created or destroyed.<br>
        Let us help you be bigger then the next guy.
      <p>
      <button>Sign up</button>
    </div>
    <!-- Bottom row -->
    <div class="row-col">
      <!-- Left column -->
      <div class="column left-col">
        <div class="text-wrapper">
          <h1>About Us</h1>
          <p>
            We are not that intresting. This is just a side hustle,
            <br> we make most our cash from selling oil.
          </p>
        </div>
      </div>
      <!-- Center column -->
      <div class="column center-col">
        <div class="text-wrapper">
          <h1>Tracking</h1>
          <p>Track your gains and calories.</p>
        </div>
      </div>
      <!-- Right column -->
      <div class="column right-col">
        <div class="text-wrapper">
          <h1>Fight Milk</h1>
          <p>We are the official distributor.</p>
        </div>
      </div>
    </div>
  </body>
</html>
