<div *ngIf="!error && !first" >
  <h1>Search results for: {{foodName}} (calories: {{calories}})</h1>
  <div class="graph" [hidden]="!chart">
    <canvas id="canvas" height="90">{{ chart }}</canvas>
  </div>
  <p>All values are measured in grams</p>
</div>

<div *ngIf="error">
  <h1>That food doesn't exist in the database</h1>
</div>

<!-- Food API -->
<br><br>
<form class="form-horizontal" novalidate #foodForm="ngForm">
  <fieldset>
    <!-- Name-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="food">Food Search</label>
      <div class="col-md-4">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fas fa-utensils"></i>
          </div>
          <input id="food" name="food" type="text" placeholder="Food" class="form-control input-md" [(ngModel)]="foodName" #food="ngModel"
            required>
        </div>
        <!-- Weight error block -->
        <div class="alert alert-info" *ngIf="food.invalid && food.touched">
          <div *ngIf="food.errors?.required">
            You must enter a food
          </div>
        </div>
      </div>
    </div>
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4">
        <a routerLink="/profile">
          <button type="submit" class="btn btn-success" (click)="clicked()" [disabled]="!foodForm.form.valid"> Look up Food </button>
        </a>
      </div>
    </div>
  </fieldset>
</form>
