<div class="container">
  <svg version="1.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="graph" aria-labelledby="title"
    role="img">
    <g class="grid x-grid" id="xGrid">
      <line x1="90" x2="90" y1="5" y2="371"></line>
    </g>
    <g class="grid y-grid" id="yGrid">
      <line x1="90" x2="1000" y1="370" y2="370"></line>
    </g>
    <g class="labels x-labels">
      <text x="100" y="400">{{day1}}</text>
      <text x="246" y="400">{{day2}}</text>
      <text x="392" y="400">{{day3}}</text>
      <text x="538" y="400">{{day4}}</text>
      <text x="684" y="400">{{day5}}</text>
      <text x="830" y="400">{{day6}}</text>
      <text x="976" y="400">{{day7}}</text>
    </g>
    <g class="labels y-labels">
      <text x="80" y="370">0 lbs</text>
      <text x="80" y="280">100 lbs</text>
      <text x="80" y="190">190 lbs</text>
      <text x="80" y="100">280 lbs</text>
      <text x="80" y="15">370 lbs</text>
    </g>
    <g class="data">
      <circle cx="100" cy="235" r="4"></circle>
      <circle cx="246" cy="170" r="4"></circle>
      <circle cx="392" cy="220" r="4"></circle>
      <circle cx="538" cy="200" r="4"></circle>
      <circle cx="684" cy="220" r="4"></circle>
      <circle cx="830" cy="210" r="4"></circle>
      <circle cx="976" cy="190" r="4"></circle>
    </g>
  </svg>
</div>