<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <!-- Header -->
    <div class="header">
      <p>
        According to physics,<br>
        gains cannot be created or destroyed.<br>
        Let us help you be bigger then the next guy.
      <p>
      <button>Sign up</button>
    </div>
    <div class="row">
      <!-- Left column -->
      <div class="column left" style="background-color:#aaa;">
        <div class="text-wrapper">
          <h1>About Us</h1>
          <p>
            We are not that intresting. This is just a side hustle,
            <br> we make most our cash from selling oil.
          </p>
        </div>
      </div>
      <!-- Center column -->
      <div class="column center" style="background-color:#bbb;">
        <div class="text-wrapper">
          <h1>Tracking</h1>
          <p>Track your gains and calories.</p>
        </div>
      </div>
      <!-- Right Column -->
      <div class="column right" style="background-color:#ccc;">
        <div class="text-wrapper">
          <h1>Tutorials</h1>
          <p>We got a bunch of guides on how to perform diffrent lifts.</p>
        </div>
      </div>
    </div>
  </body>
</html>
