
<html>
<body>
  <div class="signup">
    <div class="container">
      <div class="signup-container-wrapper clearfix">
        <div class="tab-content">
          <div class="tab-pane active" id="signup">
            <form class="form-horizontal signup-form">
  
              <!-- Username -->
              <div class="form-group relative">
                <input class="form-control input-lg" id="signup_username" placeholder="Email Address" required="" type="email">
                <i class="fa fa-user"></i>
              </div>
  
              <!-- Password -->
              <div class="form-group relative">
                <input class="form-control input-lg" id="signup_password" placeholder="Password" required="" type="password">
                <i class="fa fa-lock"></i>
              </div>
  
              <!-- Button -->
              <div class="form-group">
                <button class="btn btn-lg btn-block" type="submit">Sign up</button>
              </div>
  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
