@import url(https://fonts.googleapis.com/css?family=Varela);
@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

html {
    height: 100%;
}

/* Background */
body {
    background: url(https://i.redd.it/nuwyl4fft7v01.jpg);
    background-size: cover;
}

/* Div tag that contains everything */
.signup {
    font-family: 'Varela', sans-serif;
    padding-top: 80px;
    font-size: 14px;
    line-height: 1.5;
    min-height: 100%;
    position: relative;
    width:100%;
    height:100%;
    overflow:hidden;
    display: flex;
    align-items: center;
}

/* Make positions relative */
.relative {
    position: relative;
}

/* The box that has everything in it */
.signup-container-wrapper {
    border-top: 3.5px solid #5AAE9C;
    max-width: 400px;
    margin: 2% auto 5%;
    padding: 40px;
    box-sizing: border-box;
    background: rgba(57, 89, 116, 0.8);
    position: relative;
    background-size:cover;
    background-blend-mode:saturation;
}

/* Icon color when you click on form */
.signup input:focus + .fa{
    color:#25a08d;
}

/* Form position */
.signup-form .form-group {
    margin-right: 0;
    margin-left: 0;
}

/* Form icons */
.signup-form i {
    position: absolute;
    top: 0;
    left: 19px;
    line-height:52px;
    color: rgba(40, 52, 67, 1);
    z-index:100;
    font-size:16px;
}

/* Size and position of the input */
.signup-form .input-lg {
    font-size: 16px;
    height: 52px;
    padding: 10px 25px;
    border-radius: 0;
}

/* Color of input */
.signup input[type="email"],
.signup input[type="password"],
.signup input:focus {
    background-color: rgba(40, 52, 67, 0.75);
    border: 0px solid #4a525f;
    color: #eee;
    border-left: 45px solid #93a5ab;
}

/* Click on input */
.signup input:focus {
    border-left: 45px solid #eee;
}

/* Text inside input */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: rgba(40, 52, 67, 0.75)!important;
    background-image: none;
    color: rgb(0, 0, 0);
    border-color: #FAFFBD;
}

/* Button */
.btn {
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    border-radius:3px;
    background-color:#5AAE9C;
    color:#FFFFFF;
    border-radius:2px 2px 12px 12px;
    -webkit-border-radius:2px 2px 12px 12px;
    -moz-border-radius:2px 2px 12px 12px;
}

/* When you hover over the button */
.btn:hover{
    background-color: #5AAE9C;
    border-color: #5AAE9C;
    box-shadow: 0px 5px 35px -5px #5AAE9C;
    text-shadow:0 0 8px #fff;
    color: #FFF;
    outline:none;
    cursor:pointer;
}